.main {
    /*margin: 25px 15px 25px 15px;*/

    height: 500px;
    width: 700px;
    filter: drop-shadow(5px 5px 5px #1870bb);
    background: url("../../Image/snapedit_obrez1.png") center no-repeat;
    background-size: contain;
}

@media screen and (max-width: 752px) {
    .main {
        width: 350px;
        height: 421px;
        margin: 15px 5px 15px 5px;
    }
}

@media screen and (max-width: 445px) {
    .main {
        width: 250px;
        height: 301px;
        margin: 15px 5px 15px 5px;
    }
}

@media screen and (max-width: 312px) {
    .main {
        width: 200px;
        height: 240px;
        margin: 15px 5px 15px 5px;
    }
}