.mainBlock {
    height: 70px;
    width: 100%;
    background-color: #1b1b1e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.linkBlock {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    margin: 10px;
    border-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.link:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 10px #3498db;
}

.active {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}


@media screen and (max-width: 752px) {
    .link {
        font-size: 80%;
        margin: 10px;
    }

    .linkBlock {
        justify-content: center;
    }
}


@media screen and (max-width: 350px) {
    .link {
        font-size: 65%;
    }
}