.mainFooter {
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    background-color: #1b1b1e;

    /*margin-top: -1px;*/
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: center;
}


.inpTextArBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputName {
    width: 40%;
    height: 35px;
    background-color: #1870bb;
    border: none;
    padding: 0 10px;
    color: whitesmoke;
    border-radius: 15px;
}

.inputName:focus {
    height: 45px;
    outline: none;
}

.inputEmail {
    margin-top: 20px;
    width: 40%;
    height: 35px;
    background-color: #1870bb;
    border: none;
    padding: 0 10px;
    color: whitesmoke;
    border-radius: 15px;
}

.inputEmail:focus {
    height: 45px;
    outline: none;
}

.textArea {
    display: block;
    margin-top: 50px;
    width: 40%;
    min-height: 100px;
    padding: 10px;
    resize: none;
    border: none;
    background-color: #1870bb;
    color: whitesmoke;
    border-radius: 15px;
}

.textArea:focus {
    min-height: 120px;
    outline: none;
}

.buttonSend {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 50px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #f1f1f1;
    background: #1870bb;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .1s;
    border: none;
    cursor: pointer;
}

.buttonSend:hover {
    letter-spacing: 4px;
}

.buttonSend:active {
    background: white;
    box-shadow: 0 15px 30px #147dd9;
    color: #1870bb;
    letter-spacing: 1px;
    transform: translateY(-7px);
}

input::-webkit-input-placeholder {
    /*color: #1fc2c2;*/
    color: CadetBlue;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    font-size: 17px;
}

textarea::-webkit-input-placeholder {
    /*color: #1fc2c2;*/
    color: CadetBlue;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
    font-size: 17px;
}

@media screen and (max-width: 650px) {
    .contacts {
        padding-top: 5px;
    }
    .inputName {
        width: 70%;
    }

    .inputEmail {
        width: 70%;
    }

    .textArea {
        width: 70%;
    }
}