.mainSkillBlock {
    margin: 20px;
    width: 250px;
    height: 220px;
    border-radius: 20px;
    z-index: 5;
    transition: transform .3s;
}

.skillTitle {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}


.imageBlock {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    width: 130px;
    height: 130px;
}

.mainSkillBlock:hover {
    transform: scale(1.1);
    transition: transform .5s;
    -webkit-box-shadow: 0 0 50px 25px rgba(2, 37, 65, 0.5);
    -moz-box-shadow: 0 0 50px 25px rgba(2, 37, 65, 0.5);
    box-shadow: 0 0 40px 25px rgba(2, 37, 65, 0.5);
}

