.mainBlock {
    height: max-content;
    margin: 25px 5px 5px 15px;
    font-family: Centaur, sans-serif;
    letter-spacing: 1px;
    font-size: larger;
    /*width: max-content;*/
    text-indent: 25px;
    word-wrap: break-word;
    flex-wrap: wrap;
    /*background-color: white;*/
}

/*.mainBlock h2 {*/
/*    font-family: "Californian FB", sans-serif;*/
/*    letter-spacing: 1px;*/
/*    font-weight: 100;*/

/*поменять помом  шрифты и доделать*/
/*}*/

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*@media screen and (max-width: 752px) {*/
/*    .mainBlock {*/
/*        margin: 10px 3px 3px 5px;*/
/*    }*/

/*}*/
