.mainBlock {
    width: 80%;
    height: max-content;
    font-family: Centaur, sans-serif;
    letter-spacing: 1px;
    font-size: larger;
    text-indent: 25px;
    word-wrap: break-word;
    flex-wrap: wrap;
    padding: 10px;
}

/*.mainBlock h2 {*/
/*    font-family: "Californian FB", sans-serif;*/
/*    letter-spacing: 1px;*/
/*    font-weight: 100;*/

/*поменять помом  шрифты и доделать*/
/*}*/

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.description {
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}


/*@media screen and (max-width: 752px) {*/
/*    .mainBlock {*/
/*        margin: 10px 3px 3px 5px;*/
/*    }*/

/*}*/
