.mainScrollBlock {
    width: 70px !important;
    height: 70px !important;
    background-color: #157acc !important;
    border-radius: 50% !important;
    right: 30px !important;
}

.mainScrollBlock:active {
    background-color: #2f89d3 !important;
    width: 68px !important;
    height: 68px !important;
}

@media screen and (max-width: 650px) {
    .mainScrollBlock {
        width: 50px !important;
        height: 50px !important;
        border-radius: 25px !important;
        right: 5px !important;
    }
    .mainScrollBlock:active {
        background-color: #2f89d3 !important;
        width: 48px !important;
        height: 48px !important;
    }
}


