.mainScrollBlock {
    width: 70px !important;
    height: 70px !important;
    background-color: #157acc !important;
    border-radius: 35px !important;
    right: 30px !important;
}

@media screen and (max-width: 650px) {
    .mainScrollBlock {
        width: 50px !important;
        height: 50px !important;
        border-radius: 25px !important;
        right: 5px !important;
    }
}

/*.mainScrollBlock:hover {*/
/*    background-color: #2886d2;*/
/*}*/
