.mainScrollBlock {
    width: 70px;
    height: 70px;
    background-color: #157acc;
    border-radius: 35px;
    right: 30px;
}

.mainScrollBlock:hover {
    background-color: #2886d2;
}

@media screen and (max-width: 650px) {
    .mainScrollBlock {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        right: 5px;
    }
}