.mainSkillsBlock {
    padding-top: 20px;
    /*margin-top: 60px;*/
    width: 100%;
    min-height: 100vh;

    /*margin-bottom: 1px;*/
    margin-top: -2px;
    margin-bottom: 52px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.skillsBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleBlock {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 855px) {
    .mainSkillsBlock {
        padding-top: 0;
        height: max-content;
        margin-top: -3px;
        /*margin-bottom: 72px;*/
    }
    .skillsBlock {
        justify-content: center;
    }
}