.mainSkillsBlock {
    padding: 20px 0;
    /*margin-top: 60px;*/
    width: 100%;
    min-height: 100vh;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.skillsBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleBlock {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 855px) {
    .mainSkillsBlock {
        height: max-content;
        margin-top: -1px;
        /*margin-bottom: 72px;*/
    }
    .skillsBlock {
        justify-content: center;
    }
}