.mainSkillsBlock {
    padding-top: 20px;
    /*margin-top: 60px;*/
    width: 100%;
    height: 100vh;
    /*min-height: 100vh;*/

    /*margin-bottom: 1px;*/
    /*margin-top: -1px;*/
}

.container {
    width: 80%;
    margin: 0 auto;
}

.skillsBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleBlock {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*.titleBlock h2 {*/
/*    font-family: Courier , sans-serif;*/
/*    font-size: xx-large;*/
/*}*/

@media screen and (max-width: 855px) {
    .mainSkillsBlock {
        padding-top: 5px;
        height: max-content;
    }
    .skillsBlock {
        justify-content: center;
    }
}