.mainBlock {
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    /*height: 100vh;*/
    display: flex;
    word-wrap: break-word;
    margin-bottom: 50px;
}

.container {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    word-wrap: break-word;
    justify-content: space-around;
}

@media screen and (max-width: 752px) {
    .mainBlock {
        /*height: max-content;*/
    }
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
    }
}
